body {
    background: #000 url(../images/background.png) repeat;
    width: 100%;
    height: 100%;
    padding:0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'icomoon';
    font-style: oblique;
    color: #fff;
}

.form-container{ 
    position: relative; 
    width: 100%; 
    left: 0; 
    z-index: 5;
    transform-origin: left; 
    transform-style: preserve-3d; 
    transition: 0.5s;
    
}
.container.active .form-container{
    animation: main-animation 0.5s ease; 
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                translateZ(310px) scale(0.5);
}
@keyframes main-animation{
    from{ transform: translate(0); }
    to{
        transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                    translateZ(310px) scale(0.5);
    }
}
.container.active .form-container:hover + .shadow.one{
    transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                translateZ(230px) scale(0.5);
}
.container.active .form-container:hover{
    transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                translateZ(340px) scale(0.5);
}
.contact-form{
    font-size: 20px;
    top: 20%;
    padding: 70px 0 50px 0;
    position: absolute; 
    width: 100%; 
    height: 100%; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    
}
.contact-form .form-header{
    text-align: center;
}
.contact-form form {
    display: table;
    margin: 0 auto;
    
}
.contact-form .controls .form-btn{
    text-align: center;
    
}
.social-icons {
    width: 100%;
    display: -webkit-flex;
    display:flex;
    align-items: center;
    justify-content: center;
}
.social-icon{
    display: -webkit-flex;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin: 8px;
    background-color: #fff5ee;
    border-radius: 50%;
    box-shadow:0 1px 3px rgba(0,0,0,0.12);
    text-decoration: none;
    transition: all 0.3s ease;
}
.social-icon i{
    margin: auto;
    font-size: 24px;
    color: rgb(3, 149, 185);
    z-index: 1;
    transition: all 0.3s ease;
}
.social-icon:after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(0, 50px);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social-icons .facebook:hover{
    background: #3b5998;
}
.social-icons .twitter:hover{
    background: #00acee;
}
.social-icons .instagram:hover{
    background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, 
  #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.social-icons .github:hover{
    background-color: #211F1F;
}
.social-icon:hover{
    transform: translate(-4px);
    box-shadow: 0 4px 12 px rgba(0,0,0,0.16);
}

.social-icon:hover:after{
    transform: translate(0) scale(1.2);
}


/* Media queries  */


@media (max-width: 1020px) {
    .contact-form form {
        display: table;
        padding: 70px 0 50px 0;
        
    }
}
@media (max-width: 720px) {
    .contact-form form {
        display: table;
        padding: 50px 0 50px 0;    
    }
    .container.active .form-container{
        animation: main-animation 0.5s ease; 
        cursor: pointer;
        transform: perspective(1700px) rotateY(15deg) translateY(8px) 
                    translateZ(310px) scale(0.5);
    }
    @keyframes main-animation{
        from{ transform: translate(0); }
        to{
            transform: perspective(1700px) rotateY(15deg) translateY(8px) 
                        translateZ(310px) scale(0.5);
        }
    }
    .container.active .form-container:hover + .shadow.one{
        transform: perspective(1700px) rotateY(15deg) translateY(8px) 
                    translateZ(230px) scale(0.5);
    }
    .container.active .form-container:hover{
        transform: perspective(1700px) rotateY(15deg) translateY(8px) 
                    translateZ(340px) scale(0.5);
    }
}

@media (max-width: 360px) {
    .contact-form form {
        display: table;
        padding: 50px 0 50px 0;    
    }
    .container.active .form-container{
        animation: main-animation 0.5s ease; 
        cursor: pointer;
        transform: perspective(2000px) rotateY(10deg) translateY(8px) 
                    translateZ(200px) scale(0.5);
    }
    @keyframes main-animation{
        from{ transform: translate(0); }
        to{
            transform: perspective(2000px) rotateY(10deg) translateY(8px) 
                        translateZ(200px) scale(0.5);
        }
    }
    .container.active .form-container:hover + .shadow.one{
        transform: perspective(2000px) rotateY(10deg) translateY(8px) 
                    translateZ(150px) scale(0.5);
    }
    .container.active .form-container:hover{
        transform: perspective(2000px) rotateY(10deg) translateY(8px) 
                    translateZ(250px) scale(0.5);
    }
    
    .shadow{ 
        position: absolute; 
        width: 100%; 
        height: 100vh; 
        top: 0;
        left: 0; 
        transform-style: preserve-3d; 
        transform-origin:left;
        transition: 0.5s; 
        background-color: #fff; 
    }
    .shadow.one{ 
        z-index: -1; 
        opacity: 0.10; 
    }
    .shadow.two{ 
        z-index: -2; 
        opacity: 0.05; 
    }
    .container.active .shadow.one{
        animation: shadow-one 0.6s ease-out;
        transform: perspective(2500px) rotateY(10deg) translateY(8px) 
                    translateZ(150px) scale(0.5);
    }
    @keyframes shadow-one{
        0%{
            transform: translate(0);
        }
        5%{
            transform: perspective(2500px) rotateY(10deg) translateY(8px) 
                        translateZ(250px) scale(0.5);
        }
        100%{
            transform: perspective(2000px) rotateY(10deg) translateY(8px) 
                        translateZ(200px) scale(0.5);
        }
    }
    .container.active .shadow.two{
        animation: shadow-two 0.6s ease-out;
        transform: perspective(800px) rotateY(10deg) translateY(8px) 
                    translateZ(100px) scale(0.5);
    }
    @keyframes shadow-two{
        0%{
            transform: translate(0);
        }
        20%{
            transform: perspective(1000px) rotateY(10deg) translateY(8px) 
                        translateZ(250px) scale(0.5);
        }
        100%{
            transform: perspective(1500px) rotateY(10deg) translateY(8px) 
                        translateZ(100px) scale(0.5);
        }
    }
}