body {
    background: #000 url(../images/background.png) repeat;
    padding:0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'icomoon';
    font-style: oblique;
    overflow: hidden;
    color: #fff;
  }
h1{
    font-size: 1em;
}
.container{ 
    max-height: 100vh; 
    width: 100%; 
    background-color: #131414;
    /* background-image: url(../images/background.jpg); */
    transform-style: preserve-3d; 
    overflow: hidden;
}
.navbar{ 
    position: fixed; 
    width: 100%; 
    z-index: 10;
    height: 5rem;
}
.menu{ 
    max-width: 72rem; 
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    padding: 0 2rem; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    color: #fff;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(3, 149, 185);
    letter-spacing: 2px; 
    line-height: 4rem; 
    margin-top: 20px;
}
.hamburger-menu{ 
    height: 60px; 
    width: 40px; 
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
}
.bar{ 
    width: 30px; 
    height: 1.5px; 
    border-radius: 2px;
    background-color: rgb(3, 149, 185); 
    transition: 0.5s; 
    position: relative; 
}
.bar::before, .bar::after{ 
    content: ""; 
    position: absolute;
    width: inherit; 
    height: inherit; 
    background-color: rgb(3, 149, 185);
    transition: 0.5s;
}
.bar::before{ transform: translateY(-9px); }

.bar::after{ transform: translateY(9px); }

.banner{ overflow: hidden; }

.main{ 
    position: relative; 
    width: 100%; 
    left: 0; 
    z-index: 5;
    overflow: hidden; 
    transform-origin: left; 
    transform-style: preserve-3d; 
    transition: 0.5s;
}
header{ 
    min-height: 100vh;
    width: 100%;
    background: url(../images/background.jpg) no-repeat top center / cover;
    position: relative;
}
.overlay{ 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    color: #fff;
}
.description{
    margin: 10px 0; 
    text-align: center; 
    width: 50%;
    font-size: 40px;
}
.btn{ margin-top: 1rem; 
    padding: 0.6rem 1.8rem;
    background-color: rgb(3, 149, 185); 
    border: none; 
    border-radius: 20px;
    color: #fff; 
    text-transform: uppercase; 
}
.container.active .bar{ 
    transform: rotate(360deg);
    background-color: transparent;
}
.container.active .bar::before{ 
    transform: translateY(0) rotate(45deg);
}
.container.active .bar::after{
    transform: translateY(0) rotate(-45deg);
}
.container.active .main{
    animation: main-animation 0.5s ease; 
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                translateZ(310px) scale(0.5);
}
@keyframes main-animation{
    from{ transform: translate(0); }
    to{
        transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                    translateZ(310px) scale(0.5);
    }
}
.navigate{ 
    position: absolute; 
    width: 30%; right: 0; top: 0; 
    height: 100vh; 
    z-index: 2; 
    overflow: hidden;
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    margin-left: 10px;
}
ul{ 
    list-style: none;
 }
ul li.active a{ 
    color: rgb(3, 149, 185); 
}
.navigate a{ 
    text-decoration: none; 
    color: #eee; 
    padding: 0.7rem 0;
    display: inline-block; 
    font-size: 1.8rem; 
    font-weight: 300;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    transition: 0.3s;
    opacity: 0; 
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
}
.navigate a:hover{ 
    color: rgb(3, 149, 185); 
}
.container.active .navigate a{ 
    animation: appear 0.5s forwards ease var(--i);
}
@keyframes appear{
    from { opacity: 0; transform: translateY(10px); }
    to{ opacity: 1; transform: translateY(0px); }
}
@keyframes hide{
    from { opacity: 1; transform: translateY(0px); }
    to{ opacity: 0; transform: translateY(10px); }
}
.shadow{ 
    position: absolute; 
    width: 100%; 
    height: 100vh; 
    top: 0;
    left: 0; 
    transform-style: preserve-3d; 
    transform-origin:left;
    transition: 0.5s; 
    background-color: #fff; 
}
.shadow.one{ 
    z-index: -1; 
    opacity: 0.10; 
}
.shadow.two{ 
    z-index: -2; 
    opacity: 0.05; 
}
.container.active .shadow.one{
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                translateZ(215px) scale(0.5);
}
@keyframes shadow-one{
    0%{
        transform: translate(0);
    }
    5%{
        transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                    translateZ(310px) scale(0.5);
    }
    100%{
        transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                    translateZ(215px) scale(0.5);
    }
}
.container.active .shadow.two{
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                translateZ(120px) scale(0.5);
}
@keyframes shadow-two{
    0%{
        transform: translate(0);
    }
    20%{
        transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                    translateZ(310px) scale(0.5);
    }
    100%{
        transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                    translateZ(120px) scale(0.5);
    }
}
.container.active .main:hover + .shadow.one{
    transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                translateZ(230px) scale(0.5);
}
.container.active .main:hover{
    transform: perspective(1300px) rotateY(20deg) translateY(10px) 
                translateZ(340px) scale(0.5);
}
.contact-form{
    font-size: 20px;
    
    padding: 50px 0 50px 0;
    /* background: #fff; */
    /* color: rgb(3, 149, 185); */
    position: absolute; 
    width: 100%; 
    height: 100%; 
    /* top: 0;
    left: 0; 
    display: flex;  */
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    /* color: #fff; */
    
}
.contact-form h1{
    text-transform: uppercase;

}
.contact-form form {
    display: table;
    margin: 0 auto;
    
}
.social-icons {
    width: 100%;
    display: -webkit-flex;
    display:flex;
    align-items: center;
    justify-content: center;
}
.social-icon{
    display: -webkit-flex;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin: 8px;
    background-color: #fff5ee;
    border-radius: 50%;
    box-shadow:0 1px 3px rgba(0,0,0,0.12);
    text-decoration: none;
    transition: all 0.3s ease;
}
.social-icon i{
    margin: auto;
    font-size: 24px;
    color: rgb(3, 149, 185);
    z-index: 1;
    transition: all 0.3s ease;
}
.social-icon:after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(0, 50px);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social-icon .facebook:after{
    background-color: #1769ff;
}
.social-icon .twitter:after{
    background-color: #1da1f2;
}
.social-icon .instagram:after{
    background-color: #5851db;
}
.social-icon .github:after{
    background-color: #24292e;
}
.social-icon:hover{
    transform: translate(-4px);
    box-shadow: 0 4px 12 px rgba(0,0,0,0.16);
}
/* .social-icon:hover i{
    color: #fff;
} */
.social-icon:hover:after{
    transform: translate(0) scale(1.2);
}